
.header .container
  height: 100px
  display: flex
  justify-content: space-between
  align-items: center

.header__img
  width: 50px
  height: 50px
.container
  max-width: 1240px
  margin: 0 auto

.cards
  padding: .5%
  display: flex
  flex-wrap: wrap
  gap: 10px

.content__block
  display: flex
  justify-content: space-between

.filters
  width: 25%

.content
  width: 74%

.cart
  position: relative

.category
  display: flex
  align-items: center
  justify-content: space-between
  gap: 10px